h1{
color:red;
border: dotted; 
text-align: center;
}

p{
color:blue;
font-family:"Baskerville Old Face"
}

li{
color:orange;
font-family:Helvetica;
}

a{

color:rgb(196,0,196);

}
